---
title: Pedro Ferreira da Costa
layout: splash
classes: wide
header:
  overlay_color: "#333"
  overlay_filter: "0.20"
  overlay_image: /assets/img/neuroscience1.jpg
excerpt: PhD student on ML applied to Neurosciences
intro:
  -  image_path: /assets/img/foto_tmp.png
     alt: "Pedro da Costa"
     title: "About me"
     excerpt: "<p>I'm currently doing a PhD between the Centre for Neuroimaging Sciences in King's College London and Birkbeck College, University of London, under the umbrella of the Marie Sklodowska-Curie Actions - Innovative Training Networks 2020. I'm supervised by <a href=https://kclpure.kcl.ac.uk/portal/robert.leech.html>Robert Leech</a> and <a href="http://cbcd.bbk.ac.uk/people/scientificstaff/emily-jones"> Emily Jones</a> . I'm interested in leveraging Machine Learning as a method for developing better tools for Neuroscience research and as a model for studying the emergence of intelligence. </p>
     <p> I did my MSc in Biomedical Engineering at Instituto Superior Tecnico, in Lisbon, Portugal. My thesis, done as a visiting student to Imperial College London, consisted on the application of artificial neural networks for modelling cognitive dimensions. </p>
     <p> I enjoy doing sports and after playing roller hockey for 15 years (<a href="https://static.globalnoticias.pt/oj/image.aspx?brand=OJ&type=generate&guid=704ef1f5-9f1d-435a-a0d9-31fe432a83c7&w=768&h=512&t=20190712223333">it's a thing</a>) I have been trying a few more London-adequate sports like running while drizzling or bouldering in crowded spaces. <br><br><hr>"

events:
  - title: "Events"
    excerpt: "BioData Clubs host two types of events: practical learning workshops and hacky hours, often linked by a shared theme.  Hacky hours are for networking.  People come to talk about their work, get feedback, and have fun!  Our goal is co-learning, and we believe we have a lot to teach each other."

contact:
  - title: "To know a bit more."
    excerpt: 

get_involved:
  -  title: 
     btn_label: "CV"
     btn_class: "btn--primary"
     url: /teaching/
     excerpt: 
  -  title: 
     excerpt: 
     url: https://github.com/PedroFerreiradaCosta
     btn_label: "Github"
     btn_class: "btn--primary"
     <!--
  -  title: "Mailing List"
     excerpt: "Join the mailing list.This link only works within the OHSU firewall. If you're off campus, please email laderast@ohsu.edu to join."
     btn_label: "Mailing List"
     btn_class: "btn--primary"
     url: http://mailman.ohsu.edu/cgi-bin/mailman/listinfo/biodata-club
-->
---

{% include feature_row %}

<a name="about"></a>
{% include feature_row id="intro" type = "left" %}
<!-- 
<a name="events"></a>
{% include feature_row id="events" type = "center" %}

{% assign sorted_events = site.events | sort: 'date' %}

{% capture now_moment %}{{ "today" | date: '%s' }}{% endcapture %}

{% for event in sorted_events %}
    {% capture date %}{{ event.date | date: '%s' | plus: 0 }}{% endcapture %}
     {% if date > now_moment %}
      {% include events2.html %}
      {% endif %}
{% endfor %}
-->
<a name="contact"></a>
{% include feature_row id="contact" type = "center" %}
{% include feature_row id="get_involved" %}
