<!DOCTYPE html>
  <html lang="en-GB">
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
      <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

          {% include browser-upgrade.html %}
          {% include masthead.html %}
      <nav>
          <ul>
              <li><a href="/" class="btn btn-2">Home</a></li>
              <li><a href="/about" class="btn btn-2">About</a></li>
              <li><a href="/cv" class="btn btn-2">CV</a></li>
              <li><a href="/blog" class="btn btn-2">Blog</a></li>
          </ul>
      </nav>



      <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
      <footer>
          <ul>
              <li><a href="mailto:pedro.hpf.costa@gmail.com" class="btn btn-2">email</a></li>
              <li><a href="https://github.com/PedroFerreiradaCosta" class="btn btn-2">github.com/PedroFerreiradaCosta</a></li>
        </ul>
      </footer>

      {% include scripts.html %}

    </body>
  </html>