<!DOCTYPE html>
  <html lang="en-GB">
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
      <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

          {% include browser-upgrade.html %}
          {% include masthead.html %}
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/cv">CV</a></li>
              <li><a href="/blog">Blog</a></li>
          </ul>
      </nav>



      <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
      <footer>
          <ul>
              <li><img src="assets/icon/email.png" href="mailto:pedro.hpf.costa@gmail.com"></li>
              <li><img src="assets/icon/github.png" href="https://github.com/PedroFerreiradaCosta"></li>
              <li><img src="assets/icon/twitter.png" href="https://twitter.com/thepfcosta"></li>
        </ul>
      </footer>

      {% include scripts.html %}

    </body>
  </html>