<!DOCTYPE html>
  <html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
      <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

          {% include browser-upgrade.html %}
          {% include masthead.html %}
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/cv">CV</a></li>
              <li><a href="/blog">Blog</a></li>
          </ul>
      </nav>



      <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
      <footer>
          <ul>
              <li><a href="mailto:pedro.hpf.costa@gmail.com">email</a></li>
              <li><a href="https://github.com/PedroFerreiradaCosta">github.com/PedroFerreiradaCosta</a></li>
        </ul>
      </footer>
    </body>
  </html>